body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    background: url('/img/portada.jpeg')

}

header {
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;


}


header .logo-left {
    margin-right: 700px; /* Ajusta este valor según sea necesario */
}

header .logo-right {
    margin-left: 680px; /* Ajusta este valor según sea necesario */
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
}

nav a:hover {
    background-color: #555;
}



body:hover #overlay-container {
    display: block;
}

.image-info {
    position: absolute;
    top: 1900px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: block;
    z-index: 2;
}



.organizers-section {
    text-align: center;
    padding: 20px;
}

.organizer {
    display: inline-block;
    margin: 10px 50px 10px 0; /* Agregamos margen derecho de 20px */
    position: relative;
    cursor: pointer;
}

.organizer-photo {
    width: 200px; /* Ajusta el tamaño según sea necesario */
    height: 200px;
    border-radius: 50%; /* Esto hará que la foto sea circular */
}

.organizer-info {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 1);
    color: #fff;
    padding: 15px; /* Ajusta el tamaño del rectángulo ajustando este valor */
    width: 300px; /* Ajusta el ancho del rectángulo ajustando este valor */
    height: 100px; /* Ajusta la altura del rectángulo ajustando este valor */
    display: none;
    border-radius: 10px;
    z-index: 2;
}

.organizer:hover .organizer-info {
    display: block;
}

.foter img {
    position: relative;
    margin-top: 300px;
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

.copy-right {
    position: absolute;
    top: 1650px;
    left: 40%;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    display: block;
    z-index: 2;
}

/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Cambia el color de fondo según sea necesario */
    min-width: 160px;
    z-index: 4;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */

    body {
        font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    }

    header {
        padding: 5px; /* Reduzca el relleno del encabezado */
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el encabezado */
    }

    header .logo-left {
      margin-right: 0px; /* Ajusta este valor según sea necesario */
    }

    header .logo-right {
     margin-left: 0px; /* Ajusta este valor según sea necesario */
    }

    h1 {
        margin-right: 0; /* Elimina el margen derecho para el título en el encabezado */
    }

    nav {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el menú de navegación */
        text-align: center; /* Centra los elementos del menú de navegación */
    }

    nav a {
        width: 91%; /* Ajusta el ancho al 100% del contenedor */
    }


    .foter img {
        position: relative;
        margin-top: 80px;
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
   }

    .organizer {
        display: inline-block;
        margin: 50px 50px 100px 60px; /* Agregamos margen derecho de 20px */
        position: relative;
        cursor: pointer;
    }

    .organizer-photo {
        width: 100px; /* Ajusta el tamaño según sea necesario */
        height: 100px;
        border-radius: 50%; /* Esto hará que la foto sea circular */
    }

    .organizer-info {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 15px; /* Ajusta el tamaño del rectángulo ajustando este valor */
        width: 300px; /* Ajusta el ancho del rectángulo ajustando este valor */
        height: 100px; /* Ajusta la altura del rectángulo ajustando este valor */
        display: none;
        border-radius: 10px;
        z-index: 2;
    }

    .image-info {
        position: absolute;
        top: 3900px;
        left: 0px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        display: none;
        border-radius: 20px;
        font-size: 10px;
        z-index: 2;
        display: block;
    }

    .copy-right {
        position: absolute;
        top: 4010px;
        left: 50px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        display: none;
        border-radius: 20px;
        font-size: 10px;
        z-index: 2;
   }

    .copy-right {
        display: block;
        z-index: 2;
    }


}


@media screen and (min-width:700px) {
  /* Estilos específicos para lap top */
  
    header .logo-left {
        margin-right: 400px; /* Ajusta este valor según sea necesario */
    }

    header .logo-right {
        margin-left: 370px; /* Ajusta este valor según sea necesario */
    }
    
    .organizer-photo {
      width: 150px; /* Ajusta el tamaño según sea necesario */
      height: 150px;
      border-radius: 50%; /* Esto hará que la foto sea circular */
    }
    
    .image-info {
        position: absolute;
        top: 1350px;
        left: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        border-radius: 20px;
        font-size:14;
        display: block;
        z-index: 2;
    }

    .foter img {
        position: relative;
        margin-top: 220px;
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .copy-right {
        position: absolute;
        top: 1525px;
        left: 30%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 5px;
        border-radius: 20px;
        font-size:14;
        display: block;
        z-index: 2;
    }    

  
}


@media screen and (min-width: 1920px) {
    /* Estilos específicos para pc */

    header {
        background-color: #000;
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;


    }


    header .logo-left {
        margin-right: 700px; /* Ajusta este valor según sea necesario */
    }

    header .logo-right {
        margin-left: 680px; /* Ajusta este valor según sea necesario */
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.7);
    }

    nav a:hover {
        background-color: #555;
    }



    body:hover #overlay-container {
        display: block;
    }

    .image-info {
        position: absolute;
        top: 1600px;
        left: 10px;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        border-radius: 20px;
        display: block;
        z-index: 2;
    }



    .organizers-section {
        text-align: center;
        padding: 20px;
    }

    .organizer {
        display: inline-block;
        margin: 10px 50px 10px 0; /* Agregamos margen derecho de 20px */
        position: relative;
        cursor: pointer;
    }

    .organizer-photo {
        width: 200px; /* Ajusta el tamaño según sea necesario */
        height: 200px;
        border-radius: 50%; /* Esto hará que la foto sea circular */
    }

    .organizer-info {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 1);
        color: #fff;
        padding: 15px; /* Ajusta el tamaño del rectángulo ajustando este valor */
        width: 300px; /* Ajusta el ancho del rectángulo ajustando este valor */
        height: 100px; /* Ajusta la altura del rectángulo ajustando este valor */
        display: none;
        border-radius: 10px;
        z-index: 2;
    }

    .organizer:hover .organizer-info {
        display: block;
    }

    .foter img {
        position: relative;
        margin-top: 300px;
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }

    .copy-right {
        position: absolute;
        top: 1900px;
        left: 40%;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        border-radius: 20px;
        display: block;
        z-index: 2;
    }

  
}