body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    background: url('/img/3.jpg')
}


header {
    background-color: #000;
    text-align: center;
    display: flex;
   
}



nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
}

nav a:hover {
    background-color: #555;
}


/* Estilos para el menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333; /* Cambia el color de fondo según sea necesario */
    min-width: 160px;
    z-index: 4;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}







.time-panels {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.time-panel {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px; 
    margin-right: 20px;
}


.is-today-panel {
    display: none;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    border-radius: 20px; 
    width: 1000px;
}






@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */

    body {
        font-size: 14px; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    }

     header {
        padding: 5px; /* Reduzca el relleno del encabezado */
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el encabezado */
    }

    header .logo-left {
      margin-right: 0px; /* Ajusta este valor según sea necesario */
    }

    header .logo-right {
     margin-left: 0px; /* Ajusta este valor según sea necesario */
    }

    h1 {
        margin-right: 0; /* Elimina el margen derecho para el título en el encabezado */
        
    }

    nav {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para el menú de navegación */
        text-align: center; /* Centra los elementos del menú de navegación */
    }

    nav a {
        width: 91%; /* Ajusta el ancho al 100% del contenedor */
    }

    .data-text2,
    .time-panels{
        position: static; /* Cambia la posición a estática para que sigan el flujo normal del documento */
        transform: none; /* Elimina la transformación */
        top: auto; /* Elimina la propiedad top */
        left: auto; /* Elimina la propiedad left */
        width: 100%; /* Ajusta el ancho al 100% del contenedor */
        text-align: center; /* Centra el texto */
    }
    
    .data-text2 {
        color: #000;
        position: static; /* Cambia la posición a estática para que sigan el flujo normal del documento */
        transform: none; /* Elimina la transformación */
        top: auto; /* Elimina la propiedad top */
        left: auto; /* Elimina la propiedad left */
        width: 100%; /* Ajusta el ancho al 100% del contenedor */
        text-align: flex; /* Centra el texto */
        font-size: 20px;
        font-weight: bold;
        z-index: 2;
    }

    .data-text {
        position: absolute;
        top: 133%;
        color: #000000;
        background-color: rgba(255, 255, 255, 1);
        width: 96%;
        text-align: center;
        font-size: 12px;
        font-weight: normal;
        padding: 2%;
        z-index: 2;
    }

    .time-panels {
        flex-direction: column; /* Cambia la dirección del flexbox a columna para los paneles de tiempo */
        
    }

    .time-panel {
        margin-right: 0; /* Elimina el margen derecho para los paneles de tiempo */
        font-size: 15px;
    }

    .foter img {
            position: relative;
            margin-top: 2334px;
            width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
        }


    .copy-right {
        position: absolute;
        top: 3495px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 1);
        color: #fff;
        text-align: center;
        border-radius: 0px;
        display: block;
        z-index: 2;
    }

    .image-container {
        display: column;
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 0px; /* Ajusta según sea necesario */
    }

    .image-with-text img {
        width: 150px; /* Ajusta el tamaño según sea necesario */
        height: 150px;
        border-radius: 50%; /* Ajusta según sea necesario */
        margin-bottom: 10px;
    }

   .image-container2 {
        display: flex;
        flex-direction: column; /* Mostrar elementos en columna */
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 0px; /* Ajustar según sea necesario */
    }

    .image-with-text2 {
        display: flex; /* Utilizar flexbox */
        align-items: center; /* Centrar verticalmente */
        margin-bottom: 70px; /* Espacio entre cada fila */
    }

    .image-with-text2 img {
        width: 150px; /* Ajustar según sea necesario */
        height: 150px;
        border-radius: 50%; /* Ajustar según sea necesario */
        margin-right: 150px; /* Espacio entre la imagen y el texto */
    }    



    .plenary{
        font-size: 20px;
        font-weight: bold;
    }


}


@media screen and (min-width:700px) {
  /* Estilos específicos para lap top */
    header {
        background-color: #000;
        text-align: center;
        display: flex;
   
    }


    header .logo-left {
        margin-right: 0%; /* Ajusta este valor según sea necesario */
        margin-left: 0%;
    }

    header .logo-right {
        margin-left: 0%; /* Ajusta este valor según sea necesario */
        margin-right: 0%;
    }

    h1 {
        margin: 0; 
        margin-left: 10%;
        margin-right: 5%; 
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;http://localhost/superres
        display: inline-block;
        background: rgba(0, 0, 0, 0.7);
    }

    nav a:hover {
        background-color: #555;
    }


    .data-text2 {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -70%);
        color: #000000;
        text-align: center;
        font-size: 48px;
        font-weight: bold;

        z-index: 2;
    }

    .data-text {
        position: absolute;
        top: 80%;
        color: #000000;
        background-color: rgba(255, 255, 255, 1);
        width: 96%;
        text-align: center;
        font-size: 15px;
        font-weight: normal;
        padding: 2%;
        z-index: 2;
    }


    .time-panels {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    .time-panel {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border-radius: 20px; 
        margin-right: 20px;
    }


    .is-today-panel {
        display: none;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-between;
        align-items: center;
        border-radius: 20px; 
        width: 1000px;
    }



   .image-container2 {
        display: flex;
        flex-direction: column; /* Mostrar elementos en columna */
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 0px; /* Ajustar según sea necesario */
    }

    .image-with-text2 {
        display: flex; /* Utilizar flexbox */
        align-items: center; /* Centrar verticalmente */
        margin-bottom: 70px; /* Espacio entre cada fila */
    }

    .image-with-text2 img {
        width: 200px; /* Ajustar según sea necesario */
        height: 200px;
        border-radius: 50%; /* Ajustar según sea necesario */
        margin-right: 150px; /* Espacio entre la imagen y el texto */
    }

   .image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 20px; /* Ajusta según sea necesario */
    }

    .image-with-text {
        text-align: center;
    }

    .image-with-text img {
        width: 200px; /* Ajusta el tamaño según sea necesario */
        height: 200px;
        border-radius: 50%; /* Ajusta según sea necesario */
        margin-bottom: 10px;
    }   
    

    .plenary{
        font-size: 35px;
        font-weight: bold;
    }


    /* Estilos para el texto dentro del carrusel */
    .textc {
        display: flex;
        align-items: center;
    }

    .textc p {
        margin-left: 20px; /* Ajusta según sea necesario para agregar espacio entre la imagen y el texto */
    }

    .foter img {
        position: relative;
        margin-top: 2754px;
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }


    .copy-right {
        position: absolute;
        top: 3024px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 1);
        color: #fff;
        text-align: center;
        border-radius: 0px;
        display: block;
        z-index: 2;
    }        
  
}

@media screen and (min-width: 1920px) {
    /* Estilos específicos para pc */
    header .logo-left {
        margin-right: 370px; /* Ajusta este valor según sea necesario */
        margin-left: 30px
    }

    header .logo-right {
        margin-left: 200px; /* Ajusta este valor según sea necesario */
        margin-right: 30px
    }

    h1 {
        margin: 0; 
        margin-right: 150px; 
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        background: rgba(0, 0, 0, 0.7);
    }

    nav a:hover {
        background-color: #555;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(51, 51, 51, 0.7); 
        min-width: 160px;
        box-shadow: 0 8px 16px 
        z-index: 2;
    }


    .dropdown:hover .dropdown-content {
        display: block;
    }



    .data-text2 {
        position: absolute;
        top: 39%;
        left: 50%;
        transform: translate(-50%, -70%);
        color: #000000;
        text-align: center;
        font-size: 60px;
        padding: 0%;
        font-weight: bold;
        z-index: 2;
    }
   

        

    .data-text {
        position: absolute;
        top: 65%;
        color: #000000;
        background-color: rgba(255, 255, 255, 1);
        width: 96%;
        text-align: center;
        font-size: 20px;
        font-weight: normal;
        padding: 2%;
        z-index: 2;
    }




    .time-panels {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    .time-panel {
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        border-radius: 20px; 
        margin-right: 20px;
    }


    .is-today-panel {
        display: none;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        justify-content: space-between;
        align-items: center;
        border-radius: 20px; 
        width: 1000px;
    }



    .foter img {
        position: relative;
        margin-top: 3080px;
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de la imagen */
    }
    
   .image-container2 {
        display: flex;
        flex-direction: column; /* Mostrar elementos en columna */
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 0px; /* Ajustar según sea necesario */
    }

    .image-with-text2 {
        display: flex; /* Utilizar flexbox */
        align-items: center; /* Centrar verticalmente */
        margin-bottom: 70px; /* Espacio entre cada fila */
    }

    .image-with-text2 img {
        width: 200px; /* Ajustar según sea necesario */
        height: 200px;
        border-radius: 50%; /* Ajustar según sea necesario */
        margin-right: 150px; /* Espacio entre la imagen y el texto */
    }    


    .copy-right {
        position: absolute;
        top: 3398px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 1);
        color: #fff;
        text-align: center;
        border-radius: 0px;
        display: block;
        z-index: 2;
    }

    .image-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: rgba(255, 255, 255, 1);
        padding: 20px; /* Ajusta según sea necesario */
    }

    .image-with-text {
        text-align: center;
    }

    .image-with-text img {
        width: 250px; /* Ajusta el tamaño según sea necesario */
        height: 250px;
        border-radius: 50%; /* Ajusta según sea necesario */
        margin-bottom: 10px;
    }



    .plenary{
        font-size: 45px;
        font-weight: bold;
    }


    /* Estilos para el texto dentro del carrusel */
    .textc {
        display: flex;
        align-items: center;
    }

    .textc p {
        margin-left: 20px; /* Ajusta según sea necesario para agregar espacio entre la imagen y el texto */
    }
     
}